.user.ini
php.ini
.htaccess
admin/public/modules/cliente/error_log
admin/public/modules/materia/error_log
admin/public/modules/materialestudo/error_log
ajax/error_log
database.log
debug.log
error_log
ajax/error_log
database.log
error_log
assets/dinamicos
config.php
error_log*
assets/node_modules
admin/node_modules
2014
2015
2016
2017
2018
