.select2-selection--single {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid $input-border-color;
  	
  .select2-selection__rendered {
    line-height: $dropdown-item-height;
  }

  .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
  }

  .select2-selection__placeholder {
    color: #999;
  }

  .select2-selection__arrow {
    height: $dropdown-item-height;
    position: absolute;

    top: 0px;
    right: 0px;

    b {
      border-color: #000 transparent transparent transparent;
      border-style: solid;
      border-width: 9px 4px 0 4px;

      height: 0;
      right: 0;
      position: absolute;
      top: 50%;
      width: 0;
    }
  }
}

&[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__clear {
      float: left;
    }

    .select2-selection__arrow {
      left: 1px;
      right: auto;
    }
  }
}

&.select2-container--disabled {
  .select2-selection--single {
    background-color: #eee;
    cursor: default;

    .select2-selection__clear {
      display: none;
    }
  }
}

&.select2-container--open {
  .select2-selection--single {
    .select2-selection__arrow {
      b {
        border-color: transparent transparent #000 transparent;
        border-width: 0 4px 9px 4px;
      }
    }
  }
}
