@import "basic-imports";
@import "pagamento";

.minha-conta{
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 460px;
	
	input {
	    line-height: normal;
	    font-size: 16px;
	    width: 100%;
	    border: none;
	    border-bottom: 3px solid #333333;
	    color: #333333;
	    -webkit-appearance: textfield;
	    background-color: white;
	    -webkit-rtl-ordering: logical;
	    cursor: pointer;
	    padding: 25px 0px 1px 0px;
	}  
	
	textarea {
	    line-height: normal;
	    font-size: 16px;
	    width: 100%;
	    border: none;
	    border-bottom: 3px solid #333333;
	    color: #333333;
	    -webkit-appearance: textfield;
	    background-color: white;
	    -webkit-rtl-ordering: logical;
	    cursor: text;
	    padding: 25px 0px 1px 0px;
	} 
	
	.contato-icon{
		display: flex;
	    margin-right: 10px;
	    //margin-left: 25px;
		font-size: 55px;
	}
	
	.fb{
		margin-left: 25px;
	}

	
	.enviar{
		display: flex;
	    align-items: center;
	    justify-content: center;
	    margin-bottom: 35px;
	}
	
	.chamada{
		width: 70%;	
	}
}

.planos{
	display: flex;
	max-width: 1440px;
	margin: auto;
	padding: 110px 0px 0px 0px;
	align-items: center;
	
	.half{
		width: calc(100% / 2);
	}
}
.plans{
	display: flex;
	justify-content: space-between;
	align-content: center;
	max-width: 1440px;
	padding: 30px 0;
	margin: auto;
	.plan{
		width: 380px;
		height: 450px;
		background: white;
		box-shadow: 0 4px 25px 0 rgba(0,0,0,0.2), 0 0px 20px 0 rgba(0,0,0,0);
		border-radius: 30px;
		display: flex;
	    flex-wrap: wrap;
	    padding: 80px 55px 40px 55px;
	    align-content: space-between;
        position: relative;
        
        .cancelar-wrapper, .pagar-wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 10px;
            color: grey;
        }
        
        .pagar-wrapper {
            margin-bottom: 40px;
        }
	}
	
	.plan-name{
		font-family: $font2;
		font-size: 30px;
		line-height: 0.2;
	}
	.plan-price{
		font-family: $font3;
		font-size: 52px;
		margin-bottom: 0 !important;
	}
	.plan-description{
		height: max-content;
		font-family: $font3;
		margin-bottom: 35px;
	}
	.month{
		font-family: $font;
		font-size: 12px;
	}
}

.flag{
	position: absolute;
    width: 100%;
    margin: auto;
    right: 0;
    height: 40px;
    text-align: center;
    /* font-size: 16px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;    
    .flag-text{
	    font-size: 16px;
	    color: white;
	    font-family: $font2;
    }
}

.top-flag{
    border-radius: 30px 30px 0px 0px;
    top: 0;
}

.bottom-flag{
    border-radius: 0px 0px 30px 30px;
    bottom: 0;
}

.section-plans{
	width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .col-table-plans{
	  width: 100%;
	  
	  table{
		  td{
	      padding: 15px 5px;
		  }
	  }
  }
  
  @media #{$medium-and-down}{
	  width: 100%;
	  
	  .col-table-plans{
		  width: auto;
		  
		  table{
			  td{
				  padding: 0;
			  }
		  }
	  }
  }
}


@media #{$large-and-down}{
	.planos{
		display: flex;
		max-width: 1440px;
		margin: auto;
		padding: 55px 0px 0px 0px;
		align-items: center;
	}
	
	.plans{
		display: flex;
	    justify-content: space-evenly;
	    align-content: center;
	    max-width: 1440px;
	    padding: 55px 0px 55px 0px;
	    margin: auto;
	    
	    .plan{
		    width: 320px;
		    height: 100%;
		    padding: 70px 40px 35px 40px;
		    align-content: space-between;
		    justify-content: center;
		    
		    .plan-name{
			    font-size: 30px;
		    }
		    
		    .plan-price{
			    font-size: 45px;
				margin-bottom: 28px;
		    }
	    }
	}
}

.radio-option{
    display: flex;
    padding: 16px 14px 0px 11px;
    justify-content: center;
}

.card-text{
    margin-right: 25px;
}

.cards{
    display: flex;
    align-items: center;
    //justify-content: center;
    margin-bottom: -20px;
    margin-top: 10px;
}

.visa{
		width: 88px;
		height: 47px;
	}
	
	.mastercard{
		width: 61px;
		height: 47px;
	}



.big-icon{
	font-size: 64px;
}


@media #{$large-and-down}{
	img{
		width: 100%;
	}
}

.form-box{
	width: 460px;
}

.separate-all{
	display: flex;
	justify-content: space-evenly;
}

@media #{$medium-and-down}{
	.form-box{
		width: 100%;
	}
}

@media #{$small-and-down}{
	.minha-conta{
		width: 100%;
	}
	.section-space{
		width: 100%;
		padding: 20px 30px 0px 30px;
		display: flex;
		flex-wrap: wrap;
	}
}