@import "basic-imports";

.noticia{
	max-width: 757px;
	margin: auto;
	display: flex;
	flex-direction: column;
	
	.noticia-img{
		max-width: 757px;	
		box-shadow: 0 4px 25px 0 rgba(0,0,0,0.2), 0 0px 20px 0 rgba(0,0,0,0);
	    border-radius: 25px;
	    margin: 55px 0px 55px 0px;
	}
	
	.noticia-title{
		font-size: 38px;	
	}

	.noticia-content{
		font-size: 16px;
		color: color("gray", "base");
		line-height: 1.2;
		font-family: $font;
		margin-bottom: 55px;
	}
}

.all-content{
	display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
}

.side-column{
	width: 300px;
	height: 100%;
	display: flex;
	justify-content: start;
	//align-items: center;
	flex-direction: column;
}

.compartilhar{
	color: color("gray", "lighten");
	font-size: 16px;
	font-family: $font;
}

.back-link{
	text-decoration: underline;
	font-size: 20px;
	font-family: $font;
}

.back-link-small{
	text-decoration: underline;
	font-size: 20px;
	font-family: $font;
	display: none;
	margin: 15px auto;
}
.social-bar{
		max-width: 757px;
		margin: auto;
		margin-bottom: 55px;
		width: 100%; 
	}
.share-noticia{
	box-shadow: 0 4px 25px 0 rgba(0,0,0,0.2), 0 0px 20px 0 rgba(0,0,0,0);
	border-radius: 50px;
	max-width: 757px;
	margin-top: 5px auto;
	display: flex;
    justify-content: space-between;
    padding: 0px 21px 0px 13px;
    height: 70px;
    align-items: center;
	
	.share-icons{
		font-size: 50px;
		padding-top: 13px;
		display: flex;
		margin-top: 10px;
		
		i{
			margin-right: 10px;
		}
	}
}

@media #{$large-and-down}{
	.big-spaces-top{
		padding: 55px 0px 0px 0px;
		
		.all-content{
			margin: 0px 30px 0px 030px;
			
			.noticia{
				width: 45%;
				
				.noticia-img{
					width: 100%;
					margin: 30px 0px 30px 0px;
				}
				
				.noticia-content{
					margin-bottom: 30px;
				}
				
				.social-bar{
					margin-bottom: 14px;
				}
			}
		}
	}
}

@media #{$small-and-down}{
	.noticia{
		width: 100% !important;
	}
	
	.back-link{
		display: none;
	}
	.back-link-small{
		display: block !important;
	}
	
	.side-column{
		display: none;
	}
}