@import "basic-imports";

.pagamento{
/*
	display: flex;
  align-items: center;
  flex-wrap: wrap;
  //width: 460px;
  justify-content: center;
*/
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 460px;
      
  .tabs{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 30px;
    
    li{
      margin: 0 10px;
      
      label{
	      cursor: pointer;
      }
    }
  }
  
  .radio-option{
    display: flex;
    padding: 16px 14px 0px 11px;
    justify-content: center;
  }
  
  .card-text{
    margin-right: 25px;
  }
  
  .cards{
    display: flex;
    align-items: center;
    //justify-content: center;
    margin-bottom: -20px;
    margin-top: 10px;
  }
	
	input:not([type=radio]), select {
    line-height: normal;
    font-size: 16px;
    width: 100%;
    border: none;
    border-bottom: 3px solid #333333;
    color: #333333;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 25px 0px 1px 0px;
	}  
	
	textarea {
    line-height: normal;
    font-size: 16px;
    width: 100%;
    border: none;
    border-bottom: 3px solid #333333;
    color: #333333;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 25px 0px 1px 0px;
	} 
	
	.contato-icon{
		display: flex;
    margin-right: 10px;
	    //margin-left: 25px;
		font-size: 55px;
	}
	
	.fb{
		margin-left: 25px;
	}

	
	.enviar{
		display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
	}
	
	.chamada{
		width: 70%;	
	}
	
	.visa{
		width: 88px;
		height: 47px;
	}
	
	.mastercard{
		width: 61px;
		height: 47px;
	}
}

.planos{
	display: flex;
	max-width: 1440px;
	margin: auto;
	padding: 110px 0px 0px 0px;
	align-items: center;
	
	.half{
		width: calc(100% / 2);
	}
}
.plans{
	display: flex;
	justify-content: space-between;
	align-content: center;
	max-width: 1440px;
	//padding: 55px 0px 110px 0px;
	margin: auto;
	.plan{
		width: 380px;
		height: 450px;
		background: white;
		box-shadow: 0 4px 25px 0 rgba(0,0,0,0.2), 0 0px 20px 0 rgba(0,0,0,0);
		border-radius: 30px;
		display: flex;
        flex-wrap: wrap;
        padding: 80px 55px 40px 55px;
        align-content: space-between;
        position: relative;
        
	}
	
	.plan-name{
		font-family: $font2;
		font-size: 30px;
		line-height: 0.2;
	}
	.plan-price{
		font-family: $font3;
		font-size: 52px;
		margin-bottom: 40px;
	}
	.plan-description{
		height: max-content;
		font-family: $font3;
		margin-bottom: 35px;
	}
	.month{
		font-family: $font;
		font-size: 12px;
	}
}

.flag{
	position: absolute;
    width: 100%;
    margin: auto;
    right: 0;
    height: 40px;
    text-align: center;
    /* font-size: 16px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;    
    .flag-text{
	    font-size: 16px;
	    color: white;
	    font-family: $font2;
    }
}

.top-flag{
    border-radius: 30px 30px 0px 0px;
    top: 0;
}

.bottom-flag{
    border-radius: 0px 0px 30px 30px;
    bottom: 0;
}


@media #{$large-and-down}{
	.planos{
		display: flex;
		max-width: 1440px;
		margin: auto;
		padding: 55px 0px 0px 0px;
		align-items: center;
	}
	
	.plans{
		display: flex;
	    justify-content: space-evenly;
	    align-content: center;
	    max-width: 1440px;
	    padding: 55px 0px 55px 0px;
	    margin: auto;
	    
	    .plan{
		    width: 320px;
		    height: 551px;
		    padding: 35px 40px 35px 40px;
		    align-content: space-between;
		    justify-content: center;
		    
		    .plan-name{
			    font-size: 30px;
		    }
		    
		    .plan-price{
			    font-size: 45px;
				margin-bottom: 28px;
		    }
	    }
	}
}

.big-icon{
	font-size: 64px;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 22px;
  //margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  /* Hide the browser's default radio button */
	input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	  height: 0;
	  width: 0;
	}
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 20px;
  width: 20px;
  //background-color: #eee;
  border: 2px solid #000000;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #000000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
	top: 0px;
    left: 0px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: black;
    border: 2px solid white;
}


@media #{$large-and-down}{
	img{
		width: 100%;
	}
	
	.section-space{
		width: 100%;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		align-items: center;
	}
	
	.pagamento{
		width: 100%;
		padding: 10px 30px 0px 30px;
		display: flex;
		justify-content: center;
	}
	
	.section-plans {
    	.plan {
        	height: 400px;
        	
        	.plan-info {
            	margin-top: 50px;
        	}
    	}
	}
}

.form-box{
	width: 460px;
}

.separate-all{
	display: flex;
	justify-content: space-evenly;
}

@media #{$small-and-down}{
	.section-space{
		width: 100%;
		
		.pagamento{
			width: 100%;
			padding: 10px 30px 0px 30px;
		}
	}
}

.row {
    &.card-wrapper{
		.col.wrapp{
			padding-left: 0;
		}
		
		.jp-card-container{
		    float: left;
		}
		
		@media #{$large-and-up} {
			.jp-card-container{
				transform: scale(1) !important;
			}
		}
							
		@media (max-width: 1240px) {
		    display: flex;
		    flex-direction: column-reverse;
			
			.col.wrapp{
				width: 100%;
			}
			
			h2{
				display: none;
			}
			
			.jp-card-container{
				margin: 0 0 10px 10px;
			}
			
			.h-mobile{
				display: inherit !important;
			}
		}
		@media #{$medium-and-down}{
		    //max-width: 80vw;
		    //overflow: hidden;
		    .jp-card-container{
				transform-origin: 0px;
			}
		}
		@media #{$small-and-down} {
			.jp-card-container {
				max-width: 60vw;
			}
		}
	}
}

/* TESTE */
@media #{$small-and-down}{
	.pagamento{
		width: 100%;
	}
	.section-space{
		width: 100%;
		padding: 20px 30px 0px 30px;
		display: flex;
		flex-wrap: wrap;
	}
}