@import "basic-imports";
                    
// Reset   
@import "components/normalize";

// Layout 
@import "layout/footer";
 
// Componentsss
@import "components/plugins/swiper";
@import "components/toast";

