@mixin dtb-two-stop-gradient($fromColor, $toColor) {
	background-color: $toColor; /* Fallback */
	background-image: -webkit-linear-gradient(top, $fromColor 0%, $toColor 100%); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, $fromColor 0%, $toColor 100%); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, $fromColor 0%, $toColor 100%); /* IE10 */
	background-image:      -o-linear-gradient(top, $fromColor 0%, $toColor 100%); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, $fromColor 0%, $toColor 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{nth( $fromColor, 1 )}', EndColorStr='#{nth( $toColor, 1 )}');
}

@mixin dtb-radial-gradient ($fromColor, $toColor ) {
	background: $toColor; /* Fallback */
	background:     -ms-radial-gradient(center, ellipse farthest-corner, $fromColor 0%, $toColor 100%); /* IE10 Consumer Preview */ 
	background:    -moz-radial-gradient(center, ellipse farthest-corner, $fromColor 0%, $toColor 100%); /* Firefox */ 
	background:      -o-radial-gradient(center, ellipse farthest-corner, $fromColor 0%, $toColor 100%); /* Opera */ 
	background: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, $fromColor), color-stop(1, $toColor)); /* Webkit (Safari/Chrome 10) */ 
	background: -webkit-radial-gradient(center, ellipse farthest-corner, $fromColor 0%, $toColor 100%); /* Webkit (Chrome 11+) */ 
	background: radial-gradient(ellipse farthest-corner at center, $fromColor 0%, $toColor 100%); /* W3C Markup, IE10 Release Preview */ 
}

@mixin dtb-fixed-collection {
	// Fixed positioning feature
	&.fixed {
		position: fixed;
		top: 50%;
		left: 50%;
		margin-left: -75px;
		border-radius: 0;

		&.two-column {
			margin-left: -150px;
		}

		&.three-column {
			margin-left: -225px;
		}

		&.four-column {
			margin-left: -300px;
		}
	}

	// Multi-column layout feature
	-webkit-column-gap: 6px;
	   -moz-column-gap: 6px;
	    -ms-column-gap: 6px;
	     -o-column-gap: 6px;
	column-gap: 6px;

	> * {
		-webkit-column-break-inside: avoid;
		break-inside: avoid;
	}

	&.two-column {
		width: 300px;
		padding-bottom: 1px;

		-webkit-column-count: 2;
		   -moz-column-count: 2;
		    -ms-column-count: 2;
		     -o-column-count: 2;
		column-count: 2;
	}

	&.three-column {
		width: 450px;
		padding-bottom: 1px;

		-webkit-column-count: 3;
		   -moz-column-count: 3;
		    -ms-column-count: 3;
		     -o-column-count: 3;
		column-count: 3;
	}

	&.four-column {
		width: 600px;
		padding-bottom: 1px;

		-webkit-column-count: 4;
		   -moz-column-count: 4;
		    -ms-column-count: 4;
		     -o-column-count: 4;
		column-count: 4;
	}
}

div.dt-button-info {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	margin-top: -100px;
	margin-left: -200px;
	background-color: white;
	border: 2px solid #111;
	box-shadow: 3px 3px 8px rgba( 0, 0, 0, 0.3);
	border-radius: 3px;
	text-align: center;
	z-index: 21;

	h2 {
		padding: 0.5em;
		margin: 0;
		font-weight: normal;
		border-bottom: 1px solid #ddd;
		background-color: #f3f3f3;
	}

	> div {
		padding: 1em;
	}
}

button.dt-button,
div.dt-button,
a.dt-button {
	@extend .btn-flat;
	&.disabled {
		background-color: $button-bg-color-disabled !important;
		box-shadow: none;
		color: $button-color-disabled !important;
		cursor: default;
		&:hover {
			background-color: $button-bg-color-disabled;
			color: $button-color-disabled;
		}
	}
	
	&.buttons-colvis {
		&:before {
			content: '\E8EC';
			vertical-align: top;
			display: inline-block;
			font-family: 'Material Icons';
			font-weight: normal;
			font-style: normal;
			font-size: 21px;
			margin: 0px;
			-webkit-font-smoothing: antialiased;
		}
	}
	&.reload-button {
		&:before {
			content: '\E5D5';
			vertical-align: top;
			display: inline-block;
			font-family: 'Material Icons';
			font-weight: normal;
			font-style: normal;
			font-size: 21px;
			margin: 0px;
			-webkit-font-smoothing: antialiased;
		}
	}
}

.dt-button embed {
  outline: none;
}

div.dt-buttons {
  position: relative;
  float: left;
}
div.dt-buttons.buttons-right {
  float: right;
}

div.dt-button-collection {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  margin-top: 3px;
  padding: 6px;
  background-color: white;
  overflow: hidden;
  z-index: 2002;
  border-radius: 3px;
  z-index: 2002;
  -webkit-column-gap: 6px;
  -moz-column-gap: 6px;
  -ms-column-gap: 6px;
  -o-column-gap: 6px;
  column-gap: 6px;
  @extend .z-depth-3;
  
	button.dt-button,
	div.dt-button,
	a.dt-button {
		&:first-child,
		&:last-child {
			display: none;
		}
		@extend .btn;
		background-color: color("admin","cinza-texto");
		width: 100%;
		margin-bottom: 6px;
		font-size: .7rem;
		letter-spacing: 0px;
		font-weight: bold;
		height: 28px;
		line-height: 28px;
		
		&.disabled {
			background-color: $button-bg-color-disabled !important;
			box-shadow: none;
			color: $button-color-disabled !important;
			cursor: default;
			&:hover {
				background-color: $button-bg-color-disabled;
				color: $button-color-disabled;
			}
		}
		&.active:not(.disabled) {
			background-color: color("admin","aprovacao");
			&:hover {
				background-color: lighten(color("admin","aprovacao"), 5%);
			}
		}
	}
}

div.dt-button-collection {
	@include dtb-fixed-collection();
}

div.dt-button-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include dtb-radial-gradient (rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  z-index: 2001;
}

@media screen and (max-width: 640px) {
  div.dt-buttons {
    float: none !important;
    text-align: center;
  }
}
