@function svgBtnOpen($fillColor) {
	$fillColorFinal: str-slice("#{$fillColor}", 2, 7);
	@return url('data:image/svg+xml,<svg%20fill%3D"%23' + $fillColorFinal + '"%20height%3D"24"%20viewBox%3D"0%200%2024%2024"%20width%3D"24"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg">%0A%20%20%20%20<path%20d%3D"M19%203H5c-1.11%200-2%20.9-2%202v14c0%201.1.89%202%202%202h14c1.1%200%202-.9%202-2V5c0-1.1-.9-2-2-2zm-2%2010h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"%2F>%0A%20%20%20%20<path%20d%3D"M0%200h24v24H0z"%20fill%3D"none"%2F>%0A<%2Fsvg>');
}
@function svgBtnClose($fillColor) {
	$fillColorFinal: str-slice("#{$fillColor}", 2, 7);
	@return url('data:image/svg+xml,%3Csvg%20fill%3D%22%23' + $fillColorFinal + '%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20id%3D%22a%22%2F%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3CclipPath%20id%3D%22b%22%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20overflow%3D%22visible%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%0A%20%20%20%20%3C%2FclipPath%3E%0A%20%20%20%20%3Cpath%20clip-path%3D%22url%28%23b%29%22%20d%3D%22M19%203H5c-1.1%200-2%20.9-2%202v14c0%201.1.9%202%202%202h14c1.1%200%202-.9%202-2V5c0-1.1-.9-2-2-2zm-2%2010H7v-2h10v2z%22%2F%3E%0A%3C%2Fsvg%3E');
}
table.dataTable {
	& > tbody {
		& > tr.child {
			padding: 0.5em 1em;
			&:hover {
				background: transparent !important;
			}
			ul {
				display: inline-block;
				list-style-type: none;
				margin: 0;
				padding: 0;
				
				li {
					border-bottom: 1px solid #efefef;
					padding: 0.5em 0;
					display: flex;
					align-items: baseline;
					&:first-child {
						padding-top: 0;
					}
					&:last-child {
						border-bottom: none;
					}
				}
			}
			span {
				white-space: normal;
				&.dtr-title {
					display: inline-block;
					width: 110px;
					min-width: 110px;
					font-weight: bold;
					text-align: right;
					padding-right: 10px;
				}
			}
		}
		& > tr > td.action {
			position: relative;
			cursor: pointer;
			&:before {
				content: '\E5D4';
				color: color("admin","cinza-texto");
				vertical-align: top;
				display: inline-block;
				font-family: 'Material Icons';
				font-weight: normal;
				font-style: normal;
				font-size: 25px;
				margin: 0 10px 0 8px;
				-webkit-font-smoothing: antialiased;
			}
		}
	}
	&.dtr-inline {
		&.collapsed {
			& > tbody {
				& > tr {
					& > th.child,
					& > td.child,
					& > td.dataTables_empty {
						cursor: default !important;
						padding-left: 0px !important;
						&:before {
							display: none !important;
						}
					}
					& > th,
					& > td {
						&:first-child {
							position: relative;
							padding-left: 30px;
							cursor: pointer;
							&:before {
								content: "";
								position: absolute;
								height: 18px;
								width: 18px;
								top: calc(50% - 9px);
								left: 5px;
								background: svgBtnOpen(color("admin","detalhe"));
								background-size: contain;
							}
						}
					}
					&.parent {
						& > th,
						& > td {
							&:first-child {
								&:before {
									background: svgBtnClose(color("admin","cinza-texto"));
									background-size: contain;
								}	
							}
						}
					}
					&.child {
						td {
							&:before {
								display: none;
							}
						}
					}
				}
			}
			&.compact {
				& > tbody {
					& > tr {
						& > th,
						& > td {
							&:first-child {
								padding-left: 27px;
								&:before {
									top: 5px;
									left: 4px;
									height: 14px;
									width: 14px;
									border-radius: 14px;
									line-height: 14px;
									text-indent: 3px;
								}
							}
						}
					}
				}
			}
		}
	}
	&.dtr-column {
		& > tbody {
			& > tr {
				& > th.control,
				& > td.control {
					position: relative;
					cursor: pointer;
					&:before {
						top: 50%;
						left: 50%;
						height: 16px;
						width: 16px;
						margin-top: -10px;
						margin-left: -10px;
						display: block;
						position: absolute;
						color: white;
						border: 2px solid white;
						border-radius: 14px;
						box-shadow: 0 0 3px #444;
						box-sizing: content-box;
						text-align: center;
						font-family: 'Courier New', Courier, monospace;
						line-height: 14px;
						content: '+';
						background-color: #31b131;
					}
				}
				&.parent {
					& > th.control,
					& > td.control {
						&:before {
							content: '-';
							background-color: #d33333;
						}	
					}
				}
			}
		}
	}
}

div.dtr-modal {
	position: fixed;
	box-sizing: border-box;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	padding: 10em 1em;
	
	div.dtr-modal-display {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 50%;
		height: 50%;
		overflow: auto;
		margin: auto;
		z-index: 102;
		overflow: auto;
		background-color: #f5f5f7;
		border: 1px solid black;
		border-radius: 0.5em;
		box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
		
		@media screen and (max-width: 767px) {
			width: 95%;
		}
	}
	div.dtr-modal-content {
		position: relative;
		padding: 1em;
	}
	div.dtr-modal-close {
		position: absolute;
		top: 6px;
		right: 6px;
		width: 22px;
		height: 22px;
		border: 1px solid #eaeaea;
		background-color: #f9f9f9;
		text-align: center;
		border-radius: 3px;
		cursor: pointer;
		z-index: 12;
		&:hover {
			background-color: #eaeaea;
		}
	}
	div.dtr-modal-background {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 101;
		background: rgba(0, 0, 0, 0.6);
	}
}