table.dataTable {
	tbody {
		& > tr {
			border-left: solid 4px transparent;
			&.selected {
				background-color: darken($table-striped-color, 3%);
				border-left-color: color("admin","detalhe");
				&:hover {
					background-color: darken($table-striped-color, 6%);
				}
			}
		}
	}
	&.striped {
		tbody {
			& > tr:odd {
				&.selected {
					background-color: darken($table-striped-color, 3%);
					&:hover {
						background-color: darken($table-striped-color, 8%);
					}
				}
			}
		}
	}
	td {
		&.select-checkbox {
			position: relative;
			
			&:before,
			&:after {
				display: block;
				position: absolute;
				top: 1.2em;
				left: 50%;
				width: 12px;
				height: 12px;
				box-sizing: border-box;
			}
			&:before {
				content: ' ';
				margin-top: -6px;
				margin-left: -6px;
				border: 1px solid black;
				border-radius: 3px;
			}
			&:after {
				content: '\2714';
				margin-top: -11px;
				margin-left: -4px;
				text-align: center;
				text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9;
			}
		}
	}
}

div.dataTables_wrapper span.select-info,
div.dataTables_wrapper span.select-item {
  margin-left: 0.5em;
}

@media screen and (max-width: 640px) {
  div.dataTables_wrapper span.select-info,
  div.dataTables_wrapper span.select-item {
    margin-left: 0;
    display: block;
  }
}
