button {
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
}
.block-btn {
	display: flex;
	width: 100%;
}
.btn {
	&.large{
		height: 58px;
		padding: 0 40px 0 40px;
		color: white;
			
		&.green{
			background: color("green", "base");
		}
		&.orange{
			background: color("orange", "base");
		}
		&.grey{
			background: color("grey", "base");
		}
	}
	/*display: inline-flex;
	
	&.with-icon-right {
		i {
			margin-left: 8px;
		}
	}
	&.with-icon-left {
		i {
			margin-right: 8px;
		}
	}
	&.with-icon-big-right{
		i {
			margin-left: 40px;
		}
	}
	&.with-icon-big-left{
		i {
			margin-right: 40px;
		}
	}
	
	span {
		display: flex;
		align-items: center;
		
		i {
			margin-bottom: 4px;
		}
	
	}
	
	&.default-style {
		height: 48px;
		padding: 0 1.5rem;
		border-radius: 5px;
		box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
		margin-bottom: 20px;
		align-items: center;
		font-size: 1.1rem;
		letter-spacing: .3px;
		transition: ease .5s;
		
		i, img {
			font-size: 18px;
			max-width: 24px;
			max-height: 24px;
			
			&:not(:first-child) {
				margin-left: 1.5rem;
			}
			&:not(:last-child) {
				margin-right: 1.5rem;
			}
		}
		
		&:hover{
		    box-shadow: 0px 16px 30px rgba(0,0,0,0.19);
		    transition: ease .5s;
	    }
	}
	
	&.underline-style {
		font-size: 1.2rem;
		letter-spacing: 4px;
		position: relative;
		font-weight: bold;
		transition: .3s ease;
		
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 100%;
			height: 4px;
			width: 100%;
			box-shadow: 0px 0px 0px 4px inset;
			border-radius: 2px;
		}
		
		&:hover {
			letter-spacing: 6px;
			transition: .3s ease;
		}
		
		&.no-after{
			&:after{
				display: none;
			}
		    font-weight: normal;
		    font-size: 14px;
		    line-height: 2;				
		}
	}
	
	&.border-style{
		padding: 0 1.5rem;
		border: 1px solid;
	    border-radius: 8px;
	    align-items: center;
	    font-size: 1rem;
	    font-weight: bold;
	    letter-spacing: 2px;
	    background: transparent;
	    width: 100%;
	    text-transform: uppercase;
	    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.19);
	    transition: ease .5s;
	    
	    i{
		    font-size: 20px;
		    line-height: 1;
	    }
	    
	    &.grey-border {
		    border-color: color("grey", "base");
	    }
	    
	    &.white-border {
		    border-color: white;
	    }
	    
	    &[class^='hover-'], 
	    &[class*=' hover-'] {
		    &:hover {
			    transition: ease .5s;	
				box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.19);
		    }
		}
	    
	    &.hover-green-lighten-1 {
		     &:hover {
			    color: white !important;
			    background: color("green", "lighten-1");
			    border-color: color("green", "lighten-1") !important;
		    }
	    }
	    &.hover-yellow {
		    &:hover {
			    color: white !important;
			    background: color("yellow", "base");
			    border-color: color("yellow", "base") !important;
		    }
	    }
	    &.hover-red {
		    &:hover {
			    color: white !important;
			    background: color("red", "base");
			    border-color: color("red", "base") !important;
		    }
	    }
	    &.hover-brand {
		    &:hover {
			    color: white !important;
			    background: color("alcor", "padrao-site");
			    border-color: color("alcor", "padrao-site") !important;
		    }
	    }
	}
	
	&.large{
		height: 58px;
	}
	&.x-large{
		height: 90px;
	}
	
	&.bold{
		font-weight: bold;
	}
	
	&.filters{
        position: fixed;
	    right: 10px;
	    bottom: 10px;
	    min-width: unset;
	    height: 40px;
	    margin: 0;
	    border-radius: 5px;
	    z-index: 9999;
	    
	    i{
		    margin-right: 20px;
	    }
	    
	    @media #{$medium-and-up}{
	        font-size: 22px;
		    padding: 25px 35px;
		    
		    i{
			    font-size: 24px;
		    }
	    }
    }*/
}