.input-field{
	display: flex;
  flex-direction: column;
	position: relative;
    
    label{
		margin-left: 15px;
	    margin-bottom: 15px;
	    font-size: 19px;
	    color: color("red", "base");
	    text-transform: uppercase;
	    
	    &.font-small{
		    font-size: 15px;
	    }
	    
	    &.file{
		    height: 55px;
		    border-radius: 30px;
		    border: none;
		    padding-left: 15px;
		    background: white;
		    margin: 0;
		    display: flex;
		    justify-content: space-between;
		    
		    .input-overlay{
			    flex-grow: 1;
			    display: flex;
			    align-items: center;
			    text-transform: initial;
		    }
		    
		    .btn-file{
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    padding: 0 30px;
			    background: color("red", "base");
			    border-radius: 30px;
			    color: white;
			    font-size: 16px;
			    text-transform: initial;
			    cursor: pointer;
			    z-index: 3;
		    }
		    
		    @media #{$medium-and-down}{
			    .input-overlay{
				    max-width: 50%;
				    
				    p{
				        text-overflow: ellipsis;
					    max-width: 100%;
					    white-space: nowrap;
					    overflow: hidden;
				    }
			    }
			    
			    .btn-file{
			        text-align: center;
				    line-height: 1;
				    padding: 0 10px;
			    }
		    }
	    }
	}
	
	.fake-label{
		margin-left: 15px;
	    margin-bottom: 15px;
	    font-size: 19px;
	    color: color("red", "base");
	    text-transform: uppercase;
	    
	    &.font-small{
		    font-size: 15px;
	    }
	}
	
	input{
		height: 55px;
	    border-radius: 30px;
	    border: none;
	    padding-left: 15px;
	    
	    &[type="file"]{
		    display: none;
	    }
	}
	
	textarea{
	    border: none;
	    border-radius: 15px;
	    padding: 15px 0 0 15px;
	}
	
	&.error {
		border-color: color("red", "base");
		& > i {
			color: color("red", "base");
		}
		&:after {
			content: attr(data-error);
			position: absolute;
			top: 100%;
			left: 30px;
			font-size: 0.85rem;
			font-weight: 600;
			margin-top: 3px;
			color: color("red", "base");
			white-space: nowrap;
			width: 100%;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			font-family: sans-serif;
		}
	}
	
	@media #{$medium-and-down}{
		margin-bottom: 20px;
		
		label{
			margin-bottom: 5px;
			font-size: 16px;
		}
		
		.fake-label{
			margin-bottom: 5px;
			font-size: 16px;
		}
	}
}

.input-field-quant{
    margin-right: 20px;
    display: flex;
    align-items: center;
    
    label{
        margin-right: 10px;
	    color: color("red", "base");
	    text-transform: uppercase;
	    font-weight: bold;
    }
    
    .quant{
	    border-radius: 30px;
	    display: flex;
	    height: 60px;
	    width: 225px;
	    overflow: hidden;
	    border: 3px solid white;
	    
	    .menos, .mais{
		    width: calc(100% / 3);
		    background: color("red", "base");
		    color: white;
		    font-size: 30px;
		    border: none;
	    }
	    
	    .numero{
	        width: calc(100% / 3);
		    text-align: center;
		    font-size: 30px;
		    border: none;
	    }
    }
}

.input-field-checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    input{
	    width: 50px;
	    height: 50px;
	    background: white;
	    border-radius: 50%;
	    cursor: pointer;
		-webkit-appearance: none;
		
		&.solo{
			margin: 0 auto;
		}
		
		&:checked{
			background-color: color("red", "base");
		}
    }
    
    .label-fake{
	    margin-top: 20px;
	    color: color("red", "base");
	    font-weight: bold;
        text-transform: uppercase;
	    cursor: pointer;
    }
    
    &.label-rigth{
	    flex-direction: row !important;
	    
	    .label-fake{
	        margin-top: 0;
		    margin-left: 20px;
	    }
    }
    
    @media #{$small-and-down}{
	    flex-direction: row;
	    width: 100%;
	    align-items: center;
	    margin-bottom: 15px;
	    
	    .label-fake{
		    margin-top: 0;
		    margin-left: 10px;
	    }
    }
}

.btn-default{
	margin: 0 auto;
    display: block;
    margin-top: 50px;
    background: color("red", "base");
    border: none;
    color: white;
    padding: 15px 50px;
    font-size: 22px;
    border-radius: 40px;
    
    @media #{$small-and-down}{
	    margin-top: 0;
    }
}