@mixin transition($propriedade, $duracao, $delay, $easing) {
	transition: $propriedade $duracao $delay $easing;
}

@mixin placeholder($color-placeholder-input, $size-placeholder-input) {
	::-webkit-input-placeholder {
	   color: $color-placeholder-input;
	   font-size: $size-placeholder-input;
	}
	:-moz-placeholder {
	   color: $color-placeholder-input;
	   font-size: $size-placeholder-input;
	}
	::-moz-placeholder {
	   color: $color-placeholder-input;
	   font-size: $size-placeholder-input;
	}
	:-ms-input-placeholder {
	   color: $color-placeholder-input;
	   font-size: $size-placeholder-input;
	}
}

@mixin color-gradient($colorPrimary, $colorSecondary, $angle, $angleTo) {
	@if $angle == "vertical" {
		$angle: top;
		$angleTo: to bottom;
	} @else if $angle == "horizontal" {
		$angle: left;
		$angleTo: to right;
	} @else if $angle == "diagonal" {
		$angle: 45deg;
		$angleTo: 45deg;
	}
	background-color: $colorPrimary;
	background: -moz-linear-gradient($angle, $colorPrimary 0%, $colorSecondary 100%);
	background: -webkit-linear-gradient($angle, $colorPrimary 0%,$colorSecondary 100%);
	background: linear-gradient($angleTo, $colorPrimary 0%,$colorSecondary 100%);
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@function detailIcon($fillColor) {
	$fillColorFinal: str-slice("#{$fillColor}", 2, 7);
	@return url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2022.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Camada_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%20125%2016%22%20style%3D%22enable-background%3Anew%200%200%20125%2016%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bfill%3A%23'+$fillColorFinal+'%3B%7D%0A%3C%2Fstyle%3E%0A%3Ctitle%3Edetail%3C%2Ftitle%3E%0A%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%3Cg%20id%3D%22Home-v2%22%3E%0A%09%3Cg%20id%3D%22Home%22%20transform%3D%22translate%28-1114.000000%2C%20-2675.000000%29%22%3E%0A%09%09%3Cg%20id%3D%22Group-18%22%20transform%3D%22translate%2820.000000%2C%202483.000000%29%22%3E%0A%09%09%09%3Cg%20id%3D%22Group-4%22%20transform%3D%22translate%28635.000000%2C%2088.000000%29%22%3E%0A%09%09%09%09%3Cpath%20id%3D%22detail%22%20class%3D%22st0%22%20d%3D%22M514.6%2C104.1c0.6-0.1%2C1.3%2C0%2C1.8%2C0.4l12%2C9.9l12-9.9c0.8-0.6%2C1.9-0.6%2C2.6%2C0l12%2C9.9l12-9.9%0A%09%09%09%09%09c0.8-0.6%2C1.9-0.6%2C2.6%2C0l13.3%2C11c0.9%2C0.7%2C1%2C2%2C0.3%2C2.9c-0.4%2C0.5-1%2C0.7-1.6%2C0.7c-0.5%2C0-0.9-0.2-1.3-0.5l-12-9.9l-12%2C9.9%0A%09%09%09%09%09c-0.8%2C0.6-1.9%2C0.6-2.6%2C0l-12-9.9l-12%2C9.9c-0.5%2C0.4-1.2%2C0.6-1.8%2C0.4c-0.2%2C0-0.3%2C0.1-0.5%2C0.1c-0.5%2C0-0.9-0.2-1.3-0.5l-12-9.9%0A%09%09%09%09%09l-12%2C9.9c-0.8%2C0.6-1.9%2C0.6-2.6%2C0l-12-9.9l-12%2C9.9c-0.8%2C0.6-1.9%2C0.6-2.6%2C0l-13.3-11c-0.9-0.7-1-2-0.3-2.9s2-1%2C2.9-0.3l12%2C9.9%0A%09%09%09%09%09l12-9.9c0.8-0.6%2C1.9-0.6%2C2.6%2C0l12%2C9.9l12-9.9C513.3%2C104.1%2C514%2C103.9%2C514.6%2C104.1z%22%2F%3E%0A%09%09%09%3C%2Fg%3E%0A%09%09%3C%2Fg%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
}