.navigation{
	background: color("orange", "gradient");
	height: 45px;
	width: 100%;
	color: white;
	
	.page-name{
		color: white;
		font-size: 28px;
	}
	
	.page-path{
		color: white !important;
		font-size: 16px;	
	}
	
	.navigation-bar{
		width: 1440px;
		display: flex;
		align-items: center;
    max-width: 95%;
		
		@media #{$large-and-down}{
			margin-left: 40px;
		}
	}
	
	.nav-separator{
		margin: 0px 15px 0px 15px;
	}
	
	.select-hover{
		color: white !important;
		&:hover{
			text-decoration: underline !important;
			cursor: pointer;
		}
	}
	
	@media #{$small-and-down} {
		height: auto;
		padding: 10px 0;
		
		.navigation-bar{
	    flex-direction: column;
	    align-items: flex-start;
	    margin: 0;
	    
	    .page-name {
  			font-size: 1.5em;
			}
			
			.nav-separator{
				display: none !important;
			}
		}
	}
}