* {
    margin:0;
    padding:0;
}
.wrap {
    max-width: 1200px;
    margin: 0 auto;

}

  .nav {
    background: linear-gradient(to right,#D75E40 , #F58225);
	  z-index: 200;
	  position: relative;
	  width: 20%;
	  font-size: 2rem;
	  float: left;
    border-radius: 20px;
  }

     .nav ul {
        padding: 0px;
      }
        ul li::before {
           font-family: FontAwesome;
           content:"\f101";
           transform: scale(1, 1);
        }
        li:nth-child(1) {
          border-top-left-radius:20px;
          border-top-right-radius:20px
        }
        li:nth-child(-n) {
          border-bottom-left-radius:20px;
          border-bottom-right-radius:20px
        }

        li {
	         display: block;
           padding:1rem;
           color:white;
           border-radius:0px;
         }
        li:hover{
          color:yellow;
        }
        li:hover a{
          color:yellow;
        }

           a {
	           text-decoration: none;
	           color: white;
             width: 100%;
           }
           a:hover{
             width: 100%;
           }



       .nav-toggle {
       		display: none;
       }

.foto {
    width: 80%;
    float: right;
}

/*Media Queries*/
@media only screen and (max-width: 800px) {
.wrap {
	 max-width: 100%;
	 margin: 0;
}

  .nav {
	       		width: 175px;
	       		position: absolute;
	       		top: 0;
	       		left: 0;
            font-size: 1rem;
	       }

      .nav ul {
	        margin: 0;
          background: #fd7e15;

	     }

	       li {
		         margin: 0;
		         padding: 0;
		         display: block;
	        }

	           li a {
		           display: block;
               color: white;
	           }


	      .nav-toggle {
	       		position: absolute;
	       		top: 0;
	       		right: -36px;
            color: white;
	       		cursor: pointer;
	       		width: 60;
	       		height: 24px;
	       		z-index: 1000;
	       		display: block;
	       		background: #fd7e15;
	       }

      .foto {
	       	width: 100%;
	       	position: relative;
	       	float: none;
	   }
}
