@charset "UTF-8";

// Mixinsssssssssss
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/typography";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/form";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/date_picker/default.scss";
@import "components/date_picker/default.date.scss";
@import "components/date_picker/default.time.scss";
@import "components/scrollbar";
@import "components/tags";
@import "components/ballon_alert";
@import "components/data-table";
@import "components/data_table/select";
@import "components/data_table/responsive";
@import "components/data_table/colReorder";
@import "components/data_table/buttons";
@import "components/magnific-popup";
@import "components/select2/core.scss";
@import "components/sweetalert.scss";
@import "components/sweetalert_loader.scss";
@import "components/multi_select.scss";
@import "components/dropzone.scss";
@import "components/colorpicker.scss";