@font-face {
  font-family: 'FilsonPro-Medium';
  src: 
  	url('../fonts/filson/FilsonPro-Medium.eot?') format('embedded-opentype'),  
  	url('../fonts/filson/FilsonPro-Medium.otf')  format('opentype'),
	url('../fonts/filson/FilsonPro-Medium.woff') format('woff'), 
	url('../fonts/filson/FilsonPro-Medium.ttf')  format('truetype'), 
	url('../fonts/filson/FilsonPro-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FilsonPro-Regular';
  src: 
  	url('../fonts/filson/FilsonPro-Regular.eot?') format('embedded-opentype'),  
  	url('../fonts/filson/FilsonPro-Regular.otf')  format('opentype'),
	url('../fonts/filson/FilsonPro-Regular.woff') format('woff'), 
	url('../fonts/filson/FilsonPro-Regular.ttf')  format('truetype'), 
	url('../fonts/filson/FilsonPro-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FilsonPro-Light';
  src: 
  	url('../fonts/filson/FilsonPro-Light.eot?') format('embedded-opentype'),  
  	url('../fonts/filson/FilsonPro-Light.otf')  format('opentype'),
	url('../fonts/filson/FilsonPro-Light.woff') format('woff'), 
	url('../fonts/filson/FilsonPro-Light.ttf')  format('truetype'), 
	url('../fonts/filson/FilsonPro-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}