//ANIMACOES DO LOGIN
@-webkit-keyframes iconeIn {
  from {
    opacity: 0;
  }

  15% {
    opacity: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
    opacity: 0;
  }
  25% {
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, 00deg);
    transform: rotate3d(0, 0, 1, 0deg);
	opacity: 1;
  }
  90% {
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
	opacity: 1;
  }
  to {
  	opacity: 0;
  	-webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -0deg);
    transform: rotate3d(0, 0, 1, -0deg);
  }
}

@keyframes iconeIn {
  from {
    opacity: 0;
  }

  15% {
    opacity: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
    opacity: 0;
  }
  25% {
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, 00deg);
    transform: rotate3d(0, 0, 1, 0deg);
	opacity: 1;
  }
  90% {
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
	opacity: 1;
  }
  to {
  	opacity: 0;
  	-webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -0deg);
    transform: rotate3d(0, 0, 1, -0deg);
  }
}

@-webkit-keyframes logoIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes logoIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    display: none;
  }

  to {
    opacity: 1;
    display: initial;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    display: none;
  }
  85% {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: initial;
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(1000px);
    transform: perspective(1000px);
  }
}

@-webkit-keyframes rodapeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes rodapeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}