body.login {
	background: url("../images/pattern-login.jpg") repeat left top;
}

.page-login {
	display: flex;
	justify-content: center; 
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	padding-top: 5%;
	width: 100%;
	height: 100%;
	position: relative;
	& > img.icone-admin {
		position: absolute;
		width: 90px;
		height: 90px;
		top: 50%;
		left: 50%;
		margin: -45px 0px 0px -45px;
		display: none;
		&.start {
			display: block;
			@include animated (iconeIn,3.5s,0s);  
		}
	}
	& > img.logo-admin {
		//flex: 1 100%;
		height: 75px;
		@include animated (logoIn,1s,3.5s);
	}
	& > img.selo-admin {
		//flex: 1 100%;
		margin: 30px 0px auto 0px;
		height: 30px;
		@include animated (fadeIn,1s,3.8s);
	}
	.box-login {
		//flex: 1 100%; 
		background: color("admin","escuro");
		max-width: 400px;
		border-radius: 3px;
		padding: 40px;
		margin-top: 40px;
	    margin-bottom: auto;
	    @media only screen and (max-width: 420px) {
			max-width: calc(100% - 40px);   
		}
	    
	    @include animated (flipInY,.6s,4s);

		@include cor-inputs-fnd-escuro (#FFF, color("admin","detalhe"));
		.esqueceu-senha {
			margin-bottom: 25px;
			a {
				font-size: .9rem;
				text-decoration: underline;
				&:hover {
					color: #FFF;
				}
			}
		}
		.lembrar-de-mim {
			input:checked + label:before {
				border-right-color: color("admin","aprovacao");
				border-bottom-color: color("admin","aprovacao"); 
			}
		}
		form > .row:last-child {
			text-align: center;
			button {
				width: 100%;
			}
		}
	}
	footer.page-footer {
		flex: 1 100%;
		padding: 20px 0px;
		align-self: flex-end;
		
		@include animated (rodapeIn,1s,3.8s);
	}
}