.z-tabs,
.z-tabs > ul,
.z-tabs > ul > li,
.z-tabs > ul > li > a,
.z-tabs > .z-container,
.z-tabs > .z-container > .z-content,
.z-tabs > .z-container > .z-content > .z-content-inner {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.z-tabs,
.z-tabs:before,
.z-tabs:after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.z-tabs,
.z-tabs > ul,
.z-tabs > ul > li,
.z-tabs > ul > li > a {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: block;
    outline: 0 none;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

.z-tabs > .z-container > .z-content::after,
.z-tabs > .z-container > .z-content > .z-content-inner::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.z-tabs > .z-container > .z-content,
.z-tabs > .z-container > .z-content > .z-content-inner {
    zoom: 1;
}

.z-tabs {
    clear: both;
    font-size: 1rem;
}

.z-tabs > ul > li > a {
    cursor: pointer;
}

.z-tabs > ul > li.z-active > a {
    cursor: default;
}

.z-tabs > .z-container {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    min-height: 150px;
}

.z-tabs > .z-container > .z-content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    z-index: 7;
    display: none;
}

.z-tabs > .z-container > .z-content.z-active {
    z-index: 8;
}

.z-tabs > .z-container > .z-content > .z-content-inner {
    height: auto;
}

.z-tabs-loading {
    position: relative;
    width: 100%;
    min-height: 120px;
}

.z-tabs-loading ul,
.z-tabs-loading div {
    display: none;
}

.z-tabs .z-container {
    position: relative;
}

.z-tabs span.z-spinner,
.z-tabs-loading .z-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1000;
	text-indent: -999em;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	padding: 0px;
	background: url(#{$loading-icon}) no-repeat center center;
	background-size: contain;
	
	@include animated (pulse,0.5s,0s);
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.z-tabs .z-video {
    position: relative;
    padding-bottom: 46.25%;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.z-tabs .z-video.z-wide-screen {
    padding-bottom: 56.25%;
}

.z-tabs .z-video.z-four-by-three {
    padding-bottom: 75%;
}

.z-tabs .z-video.z-top-padding {
    padding-top: 30px;
}

.z-tabs .z-video iframe,
.z-tabs .z-video object,
.z-tabs .z-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 50;
}

.z-tabs.center > ul > li > a,
.z-tabs.center.mobile > ul > li > a {
    text-align: center !important;
}

.z-tabs.right > ul > li > a,
.z-tabs.right.mobile > ul > li > a {
    text-align: right !important;
}

.z-tabs.left > ul > li > a,
.z-tabs.left.mobile > ul > li > a {
    text-align: left !important;
}

.z-tabs.vertical > .z-container > .z-content.z-nopadding > .z-content-inner,
.z-tabs.horizontal > .z-container > .z-content.z-nopadding > .z-content-inner,
.z-tabs > .z-container > .z-content.z-nopadding > .z-content-inner {
    padding: 0 !important;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.z-tabs.vertical > ul {
    float: left;
    border-width: 1px 0 1px 1px;
    min-width: 200px;
    width: 25%;
}

.z-tabs.vertical > ul > li > a {
    border-width: 0 0 1px 0;
}

.z-tabs.vertical > ul > li.z-last > a {
    border-bottom-width: 0;
}

.z-tabs.vertical > ul > li.z-active > a {
    border-right-width: 0;
    z-index: 10;
}

.z-tabs.vertical > ul > li.z-active.z-first > a {
    border-bottom-width: 1px;
}

.z-tabs.vertical.top-left > ul {
    margin-left: 0;
    margin-right: -1px;
}

.z-tabs.vertical.top-right > ul {
    margin-right: 0;
    margin-left: -1px;
}

.ie7 body .z-tabs.vertical.top-left > ul {
    margin-right: 0;
}

.ie7 body .z-tabs.vertical.top-right > ul {
    margin-left: 0;
}

.ie7 body .z-tabs.vertical.top-left > ul > li,
.ie7 body .z-tabs.vertical.top-left > ul > li > .z-link,
.ie7 body .z-tabs.vertical.top-left > ul {
    z-index: 10 !important;
}

.ie7 body .z-tabs.vertical.top-left > ul > li.z-active > a {
    border-right: 1px solid #fff !important;
}

.z-tabs.vertical.top-right > ul {
    float: right;
    border-width: 1px 1px 1px 0;
}

.ie7 body .z-tabs.vertical.top-right > ul > li.z-active > a {
    border-right-width: 0 !important;
    border-left: 1px solid #fff !important;
    left: -1px;
}

.ie7 body .z-tabs.vertical.top-right > ul > li,
.ie7 body .z-tabs.vertical.top-right > ul {
    z-index: 10 !important;
}

.ie7 body .z-tabs.vertical.top-right > .z-container {}


.z-tabs.horizontal > ul > li {
    float: left;
}

.z-tabs.horizontal > ul > li.z-active {
    background: none;
    z-index: 1;
}

.z-tabs.horizontal > ul > li > a {
    margin-right: -1px;
    min-height: 1px;
}

.z-tabs.top-compact > ul > li > a,
.z-tabs.bottom-compact > ul > li > a {
    padding-left: 0;
    padding-right: 0;
}

.z-tabs.horizontal > ul > li.z-last > a,
.z-tabs.horizontal > ul > li.z-last-col > a {
    margin-right: 0 !important;
}

.z-tabs.horizontal > .z-container {
    clear: both;
    zoom: 1;
}

.z-tabs.horizontal.top-center > ul.z-tabs-desktop {
    clear: left;
    float: left;
    left: 50%;
    text-align: center;
}

.z-tabs.horizontal.top-center > ul > li {
    right: 50%;
}

.z-tabs.horizontal.top-right > ul {
    float: right;
    margin: 0 -1px 0 0;
}

.z-tabs.horizontal.top-right > ul > li.z-last {
    margin-right: 1px;
}

.ie7 body .z-tabs.horizontal.top-right > ul > li.z-last {
    margin-right: -1px;
}

.ie7 body .z-tabs.horizontal > .z-container {
    clear: none;
    width: 100%;
}

.z-tabs.horizontal.bottom > ul > li.z-active {
    top: -1px;
    padding-top: 1px;
    z-index: 9;
}

.z-tabs.horizontal.bottom > .z-container {
    z-index: 7;
}

.z-tabs.horizontal.bottom > ul > li > a {
    top: -1px;
    border-width: 0 1px 1px 1px;
}

.z-tabs.horizontal.bottom-center > ul {
    float: left;
    left: 50%;
    text-align: center;
}

.z-tabs.horizontal.bottom-center > ul > li {
    right: 50%;
}

.z-tabs.horizontal.bottom-right > ul {
    float: right;
}

.ie7 .z-tabs.horizontal.top-compact > ul.z-tabs-desktop > li.z-last {
    margin-right: 0;
}

.ie7 .z-tabs.horizontal.bottom-compact > ul.z-tabs-desktop > li.z-last {
    margin-right: 0;
}

.z-tabs.horizontal.responsive > ul > li > a,
.z-tabs.horizontal.top-compact > ul > li > a,
.z-tabs.horizontal.bottom-compact > ul > li > a,
.z-tabs.horizontal.top-center > ul > li > a,
.z-tabs.horizontal.bottom-center > ul > li > a {
    text-align: center;
}

.z-tabs > ul.z-tabs-mobile {
    display: none;
}

.z-tabs.responsive.horizontal.responsive > ul {
    display: block;
    width: 100%;
}

.z-tabs.responsive.horizontal > ul.z-tabs-mobile,
.z-tabs.responsive.horizontal > ul.z-tabs-mobile > li {
    width: 100%;
    float: none;
}

.z-tabs.responsive.horizontal.mobile > ul > li > a {
    margin: 0 !important;
}

.z-tabs.responsive.horizontal > ul > li.z-last-col > a {
    margin-right: 0 !important;
}

.z-tabs.responsive.horizontal.top > ul > li.z-active {
    top: 0;
    margin-top: 0;
    padding-bottom: 0;
    z-index: initial;
}

.z-tabs.responsive.horizontal.top > ul > li.z-last-row.z-active {
    top: 2px;
    margin-top: -2px;
    padding-bottom: 1px;
    z-index: 1;
}

.ie7 .z-tabs.horizontal.responsive > ul.z-tabs-desktop > li {
    margin-right: -3px;
}

.z-tabs.responsive.horizontal.bottom > ul > li.z-active {
    top: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    z-index: initial;
}

.z-tabs.responsive.horizontal.bottom > ul > li.z-first-row.z-active {
    top: 0;
    padding-top: 0;
    z-index: 9;
}

.z-tabs.horizontal.responsive > ul.z-tabs-desktop {
    display: block;
    width: 100%;
}

.z-tabs.horizontal.responsive.underlined > ul {
    border-width: 0;
}

.z-tabs.horizontal.responsive.underlined > ul > li.z-active,
.z-tabs.horizontal.responsive.underlined > ul > li:hover {
    border-top-width: 0;
    border-bottom-width: 0;
}

.z-tabs.horizontal.z-stacked > ul.z-tabs-desktop > li {
    width: 100%;
    float: none;
}

.z-tabs.horizontal.z-stacked.responsive > ul.z-tabs-desktop > li.z-last > a,
.z-tabs.horizontal.z-stacked.z-stacked > ul.z-tabs-desktop > li.z-last > a {
    border-bottom-width: 1px;
}

.z-tabs.horizontal.z-stacked.responsive > ul.z-tabs-desktop > li.z-first > a {
    border-top-width: 1px;
}

.z-tabs.horizontal.z-stacked > ul.z-tabs-desktop > li > a {
    margin: 0;
}

.z-tabs.z-stacked.horizontal > ul > li > a {
    margin-right: 0 !important;
}

.z-tabs.mobile > ul.z-tabs-nav,
.z-tabs.mobile > ul.z-tabs-nav > li,
.z-tabs.mobile > ul.z-tabs-nav > li.z-active,
.z-tabs.mobile > .z-container,
.z-tabs.mobile > .z-container > .z-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

.z-tabs.mobile {
    position: relative;
}

.z-tabs.mobile > ul.z-tabs-nav.z-tabs-mobile,
.z-tabs.mobile > ul.z-tabs-nav.z-tabs-mobile > li,
.z-tabs.mobile > .z-container {
    width: 100%;
    float: none;
    display: block;
}

.z-tabs.mobile > ul.z-tabs-nav > li > .z-link {
    margin: 0 !important;
}

.z-tabs.mobile > ul.z-tabs-desktop {
    position: absolute;
    top: inherit;
    left: 0;
    z-index: 1000;
}

.z-tabs.mobile > ul > li {
    overflow: visible;
}

.z-tabs.mobile > ul.z-tabs-nav > li > a {
    top: 0;
}

.z-tabs.mobile > ul > li.z-active > a {
    font-weight: bold;
}

.z-tabs.mobile.top > ul.z-tabs-desktop > li > a,
.z-tabs.mobile.bottom > ul.z-tabs-desktop > li > a {
    border-width: 1px 0px 0 0px;
}

.z-tabs.mobile > ul.z-tabs-nav > li.z-first > a {
    border-width: 0;
}

.z-tabs.mobile > ul.z-tabs-desktop > li {
    float: none;
    display: block;
}

.z-tabs.mobile > ul.z-tabs-desktop.z-hide-menu {
    opacity: 0;
    height: 0;
    visibility: hidden;
}

.z-tabs.mobile.bottom > .z-container {
    margin-bottom: 8px;
}

.z-tabs.mobile > .z-container,
.z-tabs.mobile > .z-container > .z-content.z-active {
    overflow: visible;
}

.z-tabs.mobile > .z-container.z-animating,
.z-tabs.mobile > .z-container.z-animating > .z-content.z-active {
    overflow: hidden;
}

.z-tabs.mobile > ul.z-tabs-mobile.z-state-closed > li > a > span.z-arrow {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
}

.z-tabs.mobile > ul.z-tabs-mobile > li > a > span.z-arrow {
	&:after {
		content: "";
		display: inline-block;
		position: absolute;
		right: 10px;
		top:50%; 
		
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 5px solid color("admin","escuro");
	}
}

.z-tabs .z-tabs *,
.z-tabs ul,
.z-tabs ul li,
.z-tabs ul li a,
.z-tabs .z-container .z-content {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    outline: none;
}

 
.z-tabs {
	&.horizontal {
		.z-tabs-desktop {
			li {
				height: 36px;
				line-height: 36px;
				border-bottom: solid 3px color("admin","cinza-fundo-escuro");
				padding: 0px 10px;
				margin: 0px 0px 10px 0px;
				&:not(.z-last) {
					margin-right: 5px;
				}
				a {
					font-size: .8rem;
					text-transform: uppercase;
					color: color("admin","cinza-texto");
					font-weight: bold;
				}
				
				&.z-active {
					border-color: color("admin","detalhe");
					a {
						color: color("admin","chumbo");
					}
				}
			}
		}
	}
	&.mobile {
		.z-tabs-mobile {
			a {
				height: 50px;
				line-height: 50px;
				color: color("admin","chumbo");
				text-transform: uppercase;
				font-weight: bold;
				font-size: .9rem;
				border-bottom: solid 3px color("admin","detalhe");
				background: color("admin","cinza-fundo-claro");
				padding: 0px 10px;
				
				.z-arrow {
					opacity: .6;
				}
			}
		}
		.z-tabs-desktop {
			background: color("admin","cinza-fundo-claro");
			padding: 10px;
			width: calc(100% - 20px);
			margin: 0px;
			& > li {
				padding: 10px;
				background: #FFF;
				margin-bottom: 2px;
				border-radius: 3px;
				a {
					text-transform: uppercase;
					font-weight: bold;
					font-size: .8rem;
				}
				&.z-active {
					background: color("admin","detalhe");
					a {
						color: #FFF;
					}
				}
			}
		}
	}
}